.container,
.componentsWrap {
  display: flex;
  flex-direction: column;
}

.container {
  align-items: center;
  width: 100%;
  gap: 25px;
}

.title {
  font-size: 24px;
}

.componentsWrap {
  gap: 15px;
}

.selectAndButtton {
  display: flex;
  gap: 25px;
}

.test {
  border: 1px solid red;
}
