:root {
  --color-select-black: #000000;
  --color-select-active-border: #0066cc;
  --color-select-border-hover: #f0f0f0;
  --color-select-background: #ffffff;
  --color-select-selected: #dedede;
  --color-select-highlighted: #e8e8e8;
  --color-select-shadow: rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.select,
.selectOpen {
  position: relative;
  width: 250px;
  height: 34px;
  border: 1px solid var(--color-select-border-hover);
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--color-select-black);
  background: var(--color-select-background);
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  display: flex;
  align-items: center;
  padding: 5px;
}

.selectOpen,
.select:focus, 
.select:hover {
  border-bottom: 2px solid var(--color-select-active-border);
  border-radius: 3px 3px 0 0;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: inherit;
  padding: 5px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.clearButton,
.dropdownButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(----color-select-black);
  box-sizing: border-box;

  &:hover {
    background-color: var(--color-select-border-hover);
    border-radius: 50%;
  }
}

.clearButton {
  padding: 0 4px;
  font-size: 16px;
}

.dropdownButton {
  padding: 0;
  font-size: 12px;
  transform: rotate(0deg);
  transition: transform 0.2s;
  width: 18px;
  height: 18px;
}

.selectOpen .dropdownButton {
  transform: rotate(180deg);
  padding: 1px 0 0;
}

.dropdownDown,
.dropdownUp {
  position: absolute;
  left: 0;
  width: 250px;
  background: var(--color-select-background);
  box-shadow: 0 2px 10px var(--color-select-shadow);
  z-index: 1;
  overflow: hidden;
  border-radius: 3px;
}

.dropdownDown {
  top: calc(100% + 5px);
}

.dropdownUp {
  bottom: calc(100% + 5px);
}

.option,
.selected {
  padding: 8px 12px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.option:hover {
  background-color: var(--color-select-border-hover);
}

.selected {
  background-color: var(--color-select-selected);
}

.highlighted {
  background-color: var(--color-select-highlighted);
}
